@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Josefin+Sans:ital,wght@1,500&family=Macondo&family=Roboto:wght@500;700;900&family=Space+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    margin-left: 3%;
    margin-top: 2%;
    background-repeat: no-repeat;
    background-image: url(./images/flimReel.jpg);
    background-position: center;
    background-size: cover;
    
    
}

.header p {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    color: purple;

}

img {
    max-height: 500px;

} 

input {
    width: 400px;
}

